body{
    background-color: green;
    text-align: center;
}

h1{
    margin-bottom: 1px
}

p{
    font-size: 15px; 
    margin-top: 1px; 
    margin-bottom: 50px
}

img{
    width: 200px
}

h3{
    font-size: 40px
}

h2{
    font-size: 50px
}